.btn {
    padding: 10px 20px;
  border: none;
  background-color: #ff5a5a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
  
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh; /* This will take the full height of the viewport */
    text-align: center; /* This will center the text inside the <p> tag */
    display: 100px;
    
  }
.hero button{
    width: 200px;
    height: 50px;
    
}
.hero p{
    margin-bottom: 10px;
    font-size: 25px;
}
  

/* Hover Effect */
.btn:hover {
    background-color: #f70d0d;
    transform: scale(1.05);
  
}
.btn:active{
    background-color: #ff5a5a;
    transform: scale(0.95);
}






@media(max-width:1280px){
    .hero-left{
        padding-left: 100px ;
    }
    .hero-left h2{
        font-size: 22px;

    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        width: 500px;
    }
}
@media(max-width:1024px){
    .hero-left{
        padding-left: 80px ;
    }
    .hero-left h2{
        font-size: 20px;

    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 65px;
    }
    .hero-latest-btn{
        
        width: 220px;
        height: 50px;
        
        font-size: 16px;
    }
    .hero-right img{
        width: 400px;
    }
}

@media(max-width:800px){
    
    .hero button{
        width: 170px;
        height:40px;
        font-size: 13px;
    }
    .hero p{
        font-size: 17px;
    }
    .hero-left{
        padding-left: 30px ;
    }
    .hero-left h2{
        font-size: 16px;

    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
        
        width: 175px;
        height: 40px;
        
        font-size: 13px;
    }
    .hero-right img{
        width: 300px;
    }
}
@media(max-width:500px){
    .hero button{
        width: 200px;
        height: 50px;
    }
    .hero p{
        font-size: 22px;
    }
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    
    .hero-left h2{
        font-size: 18px;

    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 55px;
    }

    
    
    .conditionalRender{
        margin-top: 50px;
    }
    .hero-lastest-btn img{
        cursor: pointer;
        rotate: -90deg;
            transition: 0.5s;
            
                margin-top: 10px;
                width: 15%;
            
    }
    .hero-lastest-btn.open img{
        transform: rotate(90deg);
        margin-top: 10px;
                width: 15%;
        
    }
    
}