.app-container {
    text-align: center;
  }
  
  .terms-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding for better spacing */

  }
  
  .terms-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px; /* Add space between the text and the button */
    /* Ensure the text container doesn't stretch to fit the button width */
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
    box-sizing: border-box; 
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* Add more button styling as needed */
    width: calc(100% - 40px); /* Match the width of the terms-content minus padding */
  max-width: 560px; /* Adjust max-width to match the terms-content's width minus padding */
  box-sizing: border-box; /* Include padding and border in the button's total width */
  margin-top: -10px; 
  }
  
.privacyspan{
    cursor: pointer;
}

.validation-icons {
    display: flex;
    flex-direction: column;
}

.validation-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.validation-icon span {
    margin-right: 10px;
    font-size: 20px;
}

.validation-icon p {
    margin: 0;
}

/* */

.loginsignup{
    width: 100%;
    height: 120vh;
    background: #fce3fe;
    padding-top: 100px;
    display: flex;

}

.tracker-box{
    background-color: #386489;
    
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.09em;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;  
}

.tracker-box .validated{
    color: red;
}
.tracker-box .not-validated{
    color: red;
}
.loginsignup-container-Login{
    width: 580px;
    height: 480px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border: 3px solid #f1f1f1;
}
.loginsignup-container-Sign-Up{
    width: 580px;
    height: 760px;
    background: white;
    
    margin: auto;
   
    padding: 40px 60px;
    border: 3px solid #f1f1f1;
    
    
}
.loginsignup-container-Login h1{
    margin: 20px 0px;
}
.loginsignup-container-Sign-Up h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container-Login button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.loginsignup-container-Login button:hover {
    background-color: #f70d0d;
    transform: scale(1.05);
  
}
.loginsignup-container-Login button:active{
    background-color: #ff4141;
    transform: scale(0.95);
}
.loginsignup-container-Sign-Up button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.loginsignup-container-Sign-Up button:hover {
    background-color: #f70d0d;
    transform: scale(1.05);
  
}
.loginsignup-container-Sign-Up button:active{
    background-color: #ff4141;
    transform: scale(0.95);
}


.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){     
    .loginsignup{
        padding-top: 50px;

    }
    .loginsignup-container-Login{
        width: auto;
        max-width: 500px;
        max-height: 450px;
    }
    .loginsignup-container-Sign-Up{
        width: auto;
        max-width: 500px;
        max-height: 600px;
    }
    .loginsignup-container-Login h1{
        margin: 10px 0px;
    }
    .loginsignup-container-Sign-Up h1{
        margin: 10px 0px;
    }
    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 65px;
        width: 93%;
    }
    .loginsignup-container-Login button{
        width: 100%;
    }
    .loginsignup-container-Sign-Up button{
        width: 100%;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}

@media(max-width:800px){
    .loginsignup-container-Login{
        padding: 20px 30px;
        max-height: 400px;
        
    }.loginsignup-container-Sign-Up{
        padding: 20px 30px;
        max-height: 550px;
        
    }
    .loginsignup-container-Login h1{
        font-size: 24px;

    }
    .loginsignup-container-Sign-Up h1{
        font-size: 24px;

    }
    .loginsignup-fields{
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
        font-size: 15px;
    }
    .loginsignup-container-Login button{
        height: 50px;
        font-size: 16px;
    }
    .loginsignup-container-Sign-Up button{
        height: 50px;
        font-size: 16px;
    }
}
@media(max-width:500px){
    
    .loginsignup-container-Login{
       width: 70%;
       height: 42%;
        
    }
    .loginsignup-container-Sign-Up{
        width: 70%;
        height: 100%;
         
     }
    .loginsignup-fields input{
        font-size: 14px;
    }
    .tracker-box{
        height: 5%;
        font-size: 10px;
    }
    .loginsignup-container-Login button{
        margin-top: 10px;
    }
    .loginsignup-container-Sign-Up button{
        margin-top: 10px;
    }
}