.error-page {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.error-page h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.error-page p {
    font-size: 20px;
}