.euc-container {
    display: flex;
    
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    padding: 20px;
}

.euc-item {
    
    text-align: center; /* Center the text under the image */
}

.euc-item img {
    width: 100%; /* Adjust the width as needed */
    max-width: 200px; /* Adjust the max-width as needed */
    height: auto;
    border: 1px solid #ddd; /* Optional: adds a border around the image */
    transition: background-color 0.3s, transform 0.3s;
}
.euc-item img:hover{
    transform: scale(1.05);
}
.euc-item img:active{
    transform: scale(0.95);
}

.euc-item p {
    margin-top: 10px; /* Space between image and title */
    font-size: 1rem; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
}

@media (max-width: 800px) {
    .euc-item img {
        max-width: 200px; /* Adjust size for tablet view */
    }
    .euc-item p {
        font-size: 1.1rem; /* Adjust font size for tablet view */
    }
}

/* Media query for mobile devices */
@media (max-width: 500px) {
    .euc-container {
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: space-around; /* Distribute space around items */
    }
    .euc-item {
        width: 40%; /* Set width to take up nearly half of the container */
        margin-bottom: 10px; /* Add some space below each item */
    }
    .euc-item img {
        max-width: 100%; /* Allow image to fill the item container */
    }
}

/* Add responsive design as needed */
