.shop-category h1{
    text-align: center; /* Centers the text */
    color: #333; /* Dark grey color for a modern look */
    font-family: 'Arial', sans-serif; /* A clean, sans-serif font */
    font-size: 2.5rem; /* A larger font size for prominence */
    margin-top: 20px; /* Adds space above the h1 */
    margin-bottom: 20px; /* Adds space below the h1 */
    padding: 10px 0; /* Adds padding above and below the text */
    /* A light background color to stand out from the page */
    border-radius: 5px; /* Slightly rounded corners for a softer look */
    
    max-width: 80%; /* Maximum width of the h1 */
    margin-left: auto; /* Together with margin-right, centers the h1 block */
    margin-right: auto;
}
.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888; 
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

@media(max-width:1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }

}

@media(max-width:800px){
    .shopcategory-banner{
        
        width: 95%;
    }
   
    .shopcategory-products{
        width: 95%;
        
    }
}

@media(max-width:500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
}