.productdisplay{
    display: flex;
    margin: 0px 10px;
    
}

.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.productdisplay-img-list img{
    height: 163px;
    border-radius: 15px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */

    cursor: pointer; /* Show pointer cursor on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
.productdisplay-img-list img:hover {
    transform: scale(1.05); /* Expand the image size on hover */
    /* You can adjust the scale factor (1.1) to your preference */
}
.productdisplay-main-img{
    width: 586px;
    height: 600px;
    border-radius: 15px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
}
.productdisplay-img {
    /* ... existing styles ... */
    position: relative;
    padding: 5px; /* Adjust padding to fit the border image */
    background: #fff; /* Optional: Sets a white background */
}


.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplayright-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right p{
    color: #3d3d3d;
    font-size: 26px;
}
.productdisplay-right button:hover {
    background: #ff0000; /* New hover color */
    transform: scale(1.1); /* Increase the size of the button */
    transition: transform 0.3s ease; /* Smooth transition for the scaling */

}


.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}
.custom-order-link {
    font-size: 20px;
    color: #ff4141;
    text-decoration: none;
    cursor: pointer;
    margin-top: -15px;
    display: inline-block;
    margin-bottom: 5px;
}
.button-container {
    display: flex;
    flex-direction: column;
    /*align-items: start; /* Aligns items to the left */
}



@keyframes addedToCart {
    0% {
      transform: scale(1);
      background-color: #ff4141;
    }
    50% {
      transform: scale(1.1);
      background-color: #4CAF50;
    }
    100% {
      transform: scale(1);
      background-color: #ff4141;
    }
  }
  
  .button-added {
    animation: addedToCart 0.5s ease;
  }
  
@media(max-width:1280px){
    .productdisplay-img-list img{
        height: 133px;
    }
    .custom-order-link {
        font-size: 20px;
        
    }
    .productdisplay-right p{
        
        font-size: 18px;
    }
    .productdisplay{
        margin: 0px 60px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 510px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdisplay-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    
    .productdisplayright button{
        width: 130x;
        padding: 15px 0px;
        margin-bottom: 20px;
        
    }
}

@media(max-width:1024px){
    .custom-order-link{
        font-size: 15px;
    }
    .productdisplay-img-list img{
        height: 90px;
    }
    .productdisplay-right p{
        
        font-size: 15px;
    }
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .productdisplay-main-img{
        height: 350px;
    }
    
    .productdisplay-right h1{
        font-size: 20px;
    }
    
    
    .productdisplay-right button{
        width: 140px;
        padding: 15px 0px;
        margin-bottom: 80px;
        font-size: 14px;
    }
}

@media(max-width:800px){
    .custom-order-link{
        font-size: 14px;
    }
    .productdisplay-img-list img{
        height: 70px;
    }
    .productdisplay{
        margin: 0px 10px;
        margin-bottom: 30px;
    }
    
    .productdisplay-main-img{
        height: 300px;
    }
    
    .productdisplay-right h1{
        font-size: 15px;
    }
    
    .productdisplay-right-description{
        font-size: 10px;
        
    }
    .productdisplay-right button{
        width: 140px;
        
        font-size: 12px;
    }
}
@media(max-width:500px){
    .custom-order-link {
        font-size: 15px;
        
    }
    .productdisplay{
        flex-direction: column;
       
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productdisplay-main-img{
        height: 300px;
    }
    .productdisplay-right{
        margin: 5px;
    }
    .productdisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .productdisplay-right button{

        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }

}

